data
RNb-NeuS2-main/data/*
data/acqs/*
data/acqs/albedo/000.png
data/acqs/albedo/004.png
data/acqs/albedo/000.png
data/acqs/albedo/001.png
data/acqs/albedo/002.png
data/acqs/albedo/003.png
data/acqs/albedo/004.png
data/acqs/albedo/005.png
data/acqs/albedo/006.png
data/acqs/albedo/007.png
data/acqs/albedo/008.png
data/acqs/albedo/009.png
data/acqs/albedo/010.png
data/acqs/albedo/011.png
data/acqs/albedo/012.png
data/acqs/albedo/013.png
data/acqs/albedo/014.png
data/acqs/albedo/015.png
data/acqs/albedo/016.png
data/acqs/albedo/017.png
data/acqs/albedo/018.png
data/acqs/albedo/019.png
data/acqs/albedo/020.png
data/acqs/albedo/021.png
data/acqs/albedo/022.png
data/acqs/albedo/023.png
data/acqs/mask/000.png
data/acqs/mask/001.png
data/acqs/mask/002.png
data/acqs/mask/003.png
data/acqs/mask/004.png
data/acqs/mask/005.png
data/acqs/mask/006.png
data/acqs/mask/007.png
data/acqs/mask/008.png
data/acqs/mask/009.png
data/acqs/mask/010.png
data/acqs/mask/011.png
data/acqs/mask/012.png
data/acqs/mask/013.png
data/acqs/mask/014.png
data/acqs/mask/015.png
data/acqs/mask/016.png
data/acqs/mask/017.png
data/acqs/mask/018.png
data/acqs/mask/019.png
data/acqs/mask/020.png
data/acqs/mask/021.png
data/acqs/mask/022.png
data/acqs/mask/023.png
data/acqs/normal/000.png
data/acqs/normal/001.png
data/acqs/normal/002.png
data/acqs/normal/003.png
data/acqs/normal/004.png
data/acqs/normal/005.png
data/acqs/normal/006.png
data/acqs/normal/007.png
data/acqs/normal/008.png
data/acqs/normal/009.png
data/acqs/normal/010.png
data/acqs/normal/011.png
data/acqs/normal/012.png
data/acqs/normal/013.png
data/acqs/normal/014.png
data/acqs/normal/015.png
data/acqs/normal/016.png
data/acqs/normal/017.png
data/acqs/normal/018.png
data/acqs/normal/019.png
data/acqs/normal/020.png
data/acqs/normal/021.png
data/acqs/normal/022.png
data/acqs/normal/023.png
